<!DOCTYPE html>
<html lang="en"> <!--begin::Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Login | Aint Issue App - Free Telegram Support Bot</title><!--begin::Primary Meta Tags-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Referral | Aint Issue App - Free Telegram Support Bot">
    <meta name="author" content="">
    <meta name="description" content="Referral / Free Telegram support bot that helps you organize user support for your startup, SaaS, Open Source project or a company.">
    <meta name="keywords" content=""><!--end::Primary Meta Tags--><!--begin::Fonts-->
    <link href="/favicon.png" rel="icon">

    <script crossorigin="anonymous" src="https://cdn.counter.dev/script.js" data-id="d86f7402-1929-4bdd-b17d-6cc69b56ed2e" data-utcoffset="2"></script>
</head> <!--end::Head--> <!--begin::Body-->

<body>
    <script>
        var code = window.location.href.split("/")[4];
        localStorage.setItem("r", code);
        window.location.href = "https://aintissue.com";
    </script>
</body><!--end::Body-->

</html>